<head>
  <link rel="icon" href="assets/aks.webp">
  <link rel="stylesheet" href="./app.component.css">
  
</head>
<!--
<app-wonder1></app-wonder1>
<br>
<br>
<br>
<app-wonder2></app-wonder2>
<br>
<br>
<br>
<app-wonder3></app-wonder3>
<br>
<br>
<br>
<app-wonder4></app-wonder4>
<br>
<br>
<br>
<app-wonder5></app-wonder5>
<br>
<br>
<br>
<app-wonder6></app-wonder6>
<br>
<br>
<br>
<app-wonder7></app-wonder7>


-->
<body>
  

<h1>Hello</h1>
<h2>Welcome to this Wonderful Virtual-Tour</h2>
<h3>Here is the list of Wonders:</h3>
<h4>
  wonder1: Great Wall of China (China) <br>
  wonder2: Christ the Redeemer Statue (Rio de Janeiro) <br>
  wonder3: Machu Picchu (Peru) <br>
  wonder4: Chichen Itza (Yucatan Peninsula, Mexico) <br>
  wonder5: The Roman Colosseum (Rome) <br>
  wonder6: Taj Mahal (Agra, India) <br>
  wonder7: Petra (Jordan) <br>
</h4>
<h3>Which Wonder would you like to visit :)</h3>
<nav>
  <a class="a" routerLink="/wonder1" >Wonder-1</a>
  <br>
  <br>
  <a class="a" routerLink="/wonder2" >Wonder-2</a>
  <br>
  <br>
  <a class="a" routerLink="/wonder3">Wonder-3</a>
  <br>
  <br>
  <a class="a" routerLink="/wonder4">Wonder-4</a>
  <br>
  <br>
  <a class="a" routerLink="/wonder5">Wonder-5</a>
  <br>
  <br>
  <a class="a" routerLink="/wonder6">Wonder-6</a>
  <br>
  <br>
  <a class="a" routerLink="/wonder7">Wonder-7</a>
</nav>

<router-outlet></router-outlet>
</body>