<head>

</head>
<h1>
    Christ the Redeemer Statue (Rio de Janeiro):
</h1>
<img width="200px" height="300px" src="assets/w2.jfif" alt="Christ the Redeemer Statue" >
<img width="400px" height="300px" src="assets/w4.jfif" alt="Christ the Redeemer Statue" >
<img width="400px" height="300px" src="assets/w3.jfif" alt="Christ the Redeemer Statue" >
<img width="400px" height="300px" src="assets/w6.jfif" alt="Christ the Redeemer Statue" >
<p>The Art Deco-style Christ the Redeemer statue has been looming over the Brazilians from upon Corcovado mountain in an awe-inspiring state of eternal blessing since 1931. The 130-foot reinforced concrete-and-soapstone statue was designed by Heitor da Silva Costa and cost approximately $250,000 to build - much of the money was raised through donations. The statue has become an easily recognized icon for Rio and Brazil.</p>