<head>
    <link rel="stylesheet" href="./wonder1.component.css">
</head>
    
<h1 >
    Great Wall of China (China):
</h1>
<img src="assets/index.jfif" alt="Great Wall of China" width="450px" height="380px">
<img src="assets/gwoc2.jfif" alt="Great Wall of China" width="450px" height="380px">
<img src="assets/gwoc3.jfif" alt="Great Wall of China" width="450px" height="380px">
<p>Built between the 5th century B.C. and the 16th century, the Great Wall of China is a stone-and-earth fortification created to protect the borders of the Chinese Empire from invading Mongols. The Great Wall is actually a succession of multiple walls spanning approximately 4,000 miles, making it the world's longest manmade structure.</p>
    

