<h1>Petra (Jordan):</h1>
<img width="450px" height="300px" src="assets/e1.jfif" alt="Petra ">
<img width="450px" height="300px" src="assets/e2.jfif" alt="Petra ">
<img width="450px" height="300px" src="assets/e3.jfif" alt="Petra ">
<p>Declared a World Heritage Site in 1985, Petra was the capital of the Nabataean empire of King Aretas IV, and likely existed in its prime from 9 B.C. to A.D. 40. The members of this civilization proved to be early experts in manipulating water technology, constructing intricate tunnels and water chambers, which helped create an pseudo-oasis. A number of incredible structures carved into stone, a 4,000-seat amphitheater and the El-Deir monastery have also helped the site earn its fame.</p>
