<h1>Chichen Itza (Yucatan Peninsula, Mexico):</h1>
<img width="450px" height="300" src="assets/b1.jfif" alt="Chichen Itza">
<img width="450px" height="300" src="assets/b2.jfif" alt="Chichen Itza">
<img width="450px" height="300" src="assets/b3.jfif" alt="Chichen Itza">
<p>The genius and adaptability of Mayan culture can be seen in the splendid ruins of Chichen Itza. This powerful city, a trading center for cloth, slaves, honey and salt, flourished from approximately 800 to 1200, and acted as the political and economic hub of the Mayan civilization. The most familiar ruin at the site is El Caracol, a sophisticated astronomical observatory.</p>