<h1> Machu Picchu (Peru):</h1>
<img   width="450px" height="300px" src="assets/a1.jfif" alt=" Machu Picchu">
<img   width="450px" height="300px" src="assets/a3.jfif" alt=" Machu Picchu">
<img   width="450px" height="300px" src="assets/a4.jfif" alt=" Machu Picchu">
<p>Machu Picchu, an Incan city of sparkling granite precariously perched between 2 towering Andean peaks, is thought by scholars to have been a sacred archaeological center for the nearby Incan capital of Cusco. Built at the peak of the Incan Empire in the mid-1400s, this mountain citadel was later abandoned by the Incas. The site remained unknown except to locals until 1911, when it was rediscovered by archaeologist Hiram Bingham. The site can only be reached by foot, train or helicopter; most visitors visit by train from nearby Cusco.</p>
