<h1>Taj Mahal (Agra, India):</h1>
<img width="450px" height="300px" src="assets/d1.jfif" alt="Taj Mahal ">
<img width="450px" height="300px" src="assets/d2.jfif" alt="Taj Mahal ">
<img width="450px" height="300px" src="assets/d3.jfif" alt="Taj Mahal ">
<p>A mausoleum commissioned for the wife of Mughal Emperor Shah Jahan, the Taj Mahal was built between 1632 and 1648. Considered the most perfect specimen of Muslim art in India, the white marble structure actually represents a number of architectural styles, including Persian, Islamic, Turkish and Indian. The Taj Mahal also encompasses formal gardens of raised pathways, sunken flower beds and a linear reflecting pool.</p>